html,
body {
  margin: 0;
  padding: 0;
  border: none;
}

.root {
  height: 100%;
  width: 100%;
  padding: 40px;
  font-family: Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: rgba(black, 0.825);
}

.table {
  width: 100%;
}
