.applicants {
  display: block;

  .title {
    margin: 0 10px;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
  }

  .applicant {
    .caption {
      font-size: 16px;
    }

    .table {
      border: 1px solid rgba(black, 0.375);
    }
  }
}
