.liabilities {
  display: block;

  .title {
    margin: 10px 0;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
  }

  .table {
    width: 100%;

    tr {
      &:nth-child(2n) {
        background-color: rgba(black, 0.125);
      }

      &:nth-child(2n+1) {
        background-color: rgba(white, 0.125);
      }
    }

    td {
      padding: 2px 4px;
      font-size: 14px;
    }

    th {
      padding: 2px 10px 2px 4px;
      font-size: 14px;
      text-align: left;
    }
  }
}
